@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

:root {
--black: #222831;
--grey: #30475e;
--white: #e8e8e8;
--red: #f05454;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background: var(--black);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Play", sans-serif;
  text-align: center;
  min-width: fit-content;
}