.img {
    width: 15rem;
    height: 15rem;
    background: url("../../assets/Instruction.png");
    background-repeat: no-repeat;
    background-size: contain;
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================== */

@media screen and (max-width: 1024px) {
    .img {
        width: 15rem;
        height: 15rem;
        background: url("../../assets/InstructionTap.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
  }
  